<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">
    <span *ngIf="itemBeingEdited !== item; else itemBlock">
      <span (click)="edit(item)" class="editable-text">{{item}}</span>
      <button (click)="remove(item)">remove</button>
    </span>
    <ng-template #itemBlock>
      <input #newName (keyup.enter)="save(newName.value, item)" value="{{item}}"/>
      <button (click)="save(newName.value, item)">save</button>
    </ng-template>
  </li>
</ul>

<input #newItemName 
(keyup.enter)="add(newItemName.value); newItemName.value=''" 
(blur)="add(newItemName.value); newItemName.value='' "
type="text"/>

<button (click)="add(newItemName.value)">Add</button>
